body {
  margin: 0px;
  overflow: hidden;
}

circle {
  fill: purple;
  opacity: .3;
}

text{
  font-size: 1.5rem;
  font-family: sans-serif;
}

.tick text{
  fill: #635f5d;
}

.tick line{
  stroke:#c0c0bb;
}

.text-label{
  font-size:2.5rem;
}
